<header>
    <nav class="navbar static-top navbar-expand-lg navbar-dark bg-dark">
      <div class="flex-grow-1">
        <a aria-label="Home" routerLink="/">
          <span class="eventfinder-text">
            EventFinder
          </span>
        </a>
      </div>
      <div class="center">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My-Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Comments</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Organizer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
              </li>
          </ul>
      </div>
      <div class="flex-grow-1 float-right">
        <a routerLink="/signup" class="float-right signup mr-2">Sign up</a>
        <a routerLink="/login" class="float-right login mr-2">Login</a>
      </div>
    </nav>
  </header>
