<header>
    <nav class="navbar static-top navbar-expand-lg navbar-dark bg-dark">
      <div class="flex-grow-1">
        <a aria-label="Home" routerLink="/">
          <span class="eventfinder-text">
            EventFinder
          </span>
        </a>
      </div>
      <div class="center">
        <div *ngIf="isLoggedIn">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My-Events</a>
              </li>
              <li *ngIf="role === 'ROLE_ORGANIZER' " class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Organizer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Create new</a>
                </div>
              </li>
            <li *ngIf="role === 'ROLE_ADMIN'" class="nav-item">
                <a class="nav-link" href="#">Admin</a>
              </li>
          </ul>
        </div>
      </div>
      <div class="flex-grow-1 float-right">
        <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
            <div class="dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
                <button (click)="logout()" ngbDropdownItem>Logout</button>
            </div>
            <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                {{username}}
            </button>
        </div>            
        <div *ngIf="!isLoggedIn">
            <a routerLink="/signup" class="float-right sign-up mr-2">Sign up</a>
            <a routerLink="/login" class="float-right login mr-2">Login</a>
        </div>
    </div>
    </nav>
  </header>
