header{
    border-radius: 1px solid;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.eventfinder-text{        
    font-weight: 700;
    height: 80px;
    width: 80px;
    font-size: 30px;   
    color: #EEFBFB; 
}

.login, .signup{    
    background-color: transparent;
    border-color: #EEFBFB;
    color: #EEFBFB;
    fill:#EEFBFB;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;  
}
.signup{
    background-color: #12232E;
    border-color: #007CC7;
    color: #EEFBFB;
}

.signup:hover{
    opacity: 0.8;
}

.userdetails{    
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    border: 0px;
}

.dropdown-item{
    background-color: #f8f9fa;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-item:hover{
    background-color: #0079D3;
}

.dropdown-menu{
    background-color: #f8f9fa;
}
