<div class="body">
    <div class="container w-75">
        <div class="event-card">
            <div class="row">
                <div class="col-sm-8"><h3>{{event.title}}</h3></div>
                <div class="col-sm-4"><h4>{{event.city}}</h4></div>
            </div>
            <div class="row">
                <div class="col-sm">Address: {{event.address}}</div>
            </div>
            <div class="row">
                <div class="col-auto">Starting date: {{event.startingDate}}</div>
                <div class="col-auto">End date: {{event.endDate}}</div>
            </div>
            <div class="row">
                <div class="col-sm"><p [innerHTML] = "event.description"></p></div>
            </div>
            <div class="row">
                <div class="col-sm">Organizer: {{event.organizerName}}</div>
                <div class="col-sm">Number of Attendees: {{event.numberOfAttendees}}</div>
                <div class="col-sm">Last updated: {{event.lastUpdated}}</div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-block">
                    Sign up!
                </button>
            </div>
        </div>


        <!-- comment section -->
        <div style="margin-bottom: 80px;" class="post-comment">
            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <div class="form-group">
                <textarea class="form-control" [formControlName]="'text'" placeholder="Comments?"></textarea>
              </div>
              <button style="margin-top: 15px;" type="submit" class="login float-right">Comment</button>
            </form>
        </div>
          <div *ngFor="let comment of comments">
            <div class="comment">
            <div class="username">
                <div><p style="margin-bottom: 0;">{{comment.username}}</div>
              </div>
              <div>
                <small>{{comment.createdAt}}</small>
              </div>
              <b>{{comment.text}}</b>
            </div>
            <hr />
          </div>

    </div>
</div>
