.event-card{
    padding: 30px;
    margin: 30px;;
    background-color:#fff;
    border: 1px solid #12232E;
    border-radius: 6px;

}

.event-card:hover{
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;

}

button{
    background-color: #12232E;
    border-color: #007CC7;
    color: #EEFBFB;
}

button:hover {
    opacity: 0.8;
    color: #EEFBFB;
}

.search-box {
    padding-left: 0px;
    padding-right: 0px;
}

.search-section{
    margin-top: 35px;
    padding: 0px;
    width: 100%;
}

.input {
    padding: 0px;
}