<div class="body">

    <div class="container">
        
        <div class="search-section">
            <div class="row no-gutters" [formGroup]="searchForm">
                <div class="col">
                    
                    <select class="browser-default custom-select" [formControlName]="'city'">
                        <option selected>City</option>
                        <option *ngFor="let city of cities">
                            {{city}}
                        </option>
                      </select>
                      
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" [formControlName]="'keyWord'" id="text" placeholder="What are you looking for?">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-block" (click)="fetchEventsWithParams()">
                        Search
                    </button>
                </div>
            </div>
        </div>
    
            <div class="col">
                <!--Display events-->
                <div class="event-card" *ngFor="let event of event$">
                
                    <div class="row align-items-start">
                        <div class="col-12 col-md-8"><h3>{{event.title}}</h3></div>
                        <div class="col-6 col-md-4"><h3>{{event.city}}</h3></div>
                    </div>
                    

                    <div class="row d-inline-flex align-content-between">
                        <div class="col-3"><p>Starting date: {{event.startingDate}}</p></div>
                        <div class="col-3"><p>End date: {{event.endDate}}</p></div>
                        <div class="col-3"><p>Attendees: {{event.numberOfAttendees}}</p></div>
                    </div>
                    
                    <div class="row align-items-start">
                        <div class="col-12">
                            <button type="button" class="btn btn-block" (click)="goToEvent(event.eventId)">
                                View
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
    </div>
</div>