<div class="body">
    <div class="container">
        
        <div class="search-section col-12">
            <div class="row justify-content-center">
                <form [formGroup]="searchForm" (ngSubmit)="search()">
                    <div class="form-group row">
                         <div class="col-3 px-0">
                            <input type="text" id="city" class="form-control" [formControlName]="'city'" name="city" autofocus>
                        </div>
                        <div class="col-6 px-0">
                            <input type="text" id="keyWord" class="form-control" [formControlName]="'keyWord'" name="keyWord" autofocus>
                        </div>
                        <div class="col-3 px-0">
                            <button class="btn btn-block">Search</button>
                        </div>
                    </div>                     
                </form>
            </div>
        </div>


            <div class="col">
                <!--Display events-->
                <div class="event-card" *ngFor="let event of event$">
                
                    <div class="row align-items-start">
                        <div class="col-12 col-md-8"><h3>{{event.title}}</h3></div>
                        <div class="col-6 col-md-4"><h4>{{event.city}}</h4></div>
                    </div>
                    

                    <div class="row d-inline-flex align-content-between">
                        <div class="col-3"><p>Starting date: {{event.startingDate}}</p></div>
                        <div class="col-3"><p>End date: {{event.endDate}}</p></div>
                        <div class="col-3"><p>Attendees: {{event.numberOfAttendees}}</p></div>
                    </div>
                    
                    <div class="row align-items-start">
                        <div class="col-12"><p>{{event.description}}</p>
                            <button type="button" class="btn btn-block" (click)="goToPost(event.eventId)">
                                View
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
    </div>
</div>